@charset "utf-8";

html {
    /* For the html */
    background-color: gray;
    height: 100%;
}

header>nav {
    display: table;
    width: 100%;
    margin-bottom: 0.01em;
}

header>nav a {
    background-color: gray;
    padding: 15px;
    text-decoration: none;
}

header>nav>ul {
    display: table-row;
}

header>nav>ul>li>a {
    display: block;
}

header>nav>ul>li>a:link,
header>nav>ul>li>a:visited {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

header>nav>ul>li>a.active {
    background-color: rgb(146, 143, 143);
}

header>nav>ul>li>a:hover {
    background-color: darkgray;
    padding: 15px;
}

header>nav>ul>li {
    display: table-cell;
    text-align: center;
}

header>nav>ul {
    list-style-type: none;
}

header>nav>ul>li:first-of-type{
    font-weight: bold;
}


body {
    text-align: left;
    color: black;
    background-color: rgb(199, 198, 198);
    margin-left: 3em;
    margin-right: 3em;
    height: 100%;
}
section{
    height: 90%;
    margin-top: 0;
}


body h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    padding-left: 6em;
    font-size: 30px;
    padding-top: 25px;
}

body p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 18px;
    text-indent: 2em;
}

body p.rightpad {
    margin-left: 5em;
    margin-right: 3em;
    padding-right: 37em;
}

body img {
    float: right;
    margin-right: 12em;
    margin-top: 5em;
}

footer {
    /* text-align: center;
    background-color: gray;
    padding-top: 1.5em; (Unused)*/
    width: 96%;
    text-align: center;
    background-color: gray;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    bottom: 0;
    margin-left: 0em;
    margin-right: 3em;
}

footer>a {
    text-decoration: none;
}

footer>a:link,
footer>a:visited {
    color: white;
}

footer>a:hover,
footer>a:active {
    color: rgba(216, 214, 214, 0.795);
}

footer>a.active {
    color: rgba(233, 227, 227, 0.795);
}

footer>section {
    color: rgba(233, 229, 229, 0.651);
    font-size: 0.8em;
}

footer#non-bottom {
    position: relative;
}